



.banner h2 {
    font-size: 90px;
}

a:hover {
    color: #1FC7C6;
}

@media (max-width: 700px) {
    .banner h2 {
        font-size: 70px;
    }
}

.destacado {
    color: #1FC7C6;
}


.line {
    height: 4px;
}


.responsive {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}