
.title-web {
    color: #1FC7C6;
}

.item {
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 20px;
    height: 400px;
    width: 200px;
}



.contact a {
    color: #1FC7C6;
}

.services h2 {
    color: #1FC7C6;
}